extends ../layout

block content

  .row.text-right
    p
      h3 #{stats.n} results (#{stats.timeMicros / 1000000} seconds)

  .row.search-results
    for result in results
      .row
        .col-md-2.col-md-offset-2
          p #{result.show}

        .col-md-8
          blockquote
            p
              em "#{result.text}"
            small Someone famous at #{result.time}
            a(href='#{result.link}', target='_blank') episode #{result.number} of season #{result.season}

