extends ../layout

block content

  .row
    .col-md-8.col-md-offset-2
      .jumbotron.text-center(style='padding: 15px;')
        h3 Search for any quote
          form(action='/subtitles/search')
            input.form-control(type='search', name='q', size='30', required)
            button.btn.btn-default(type='submit') Search &nbsp;
              span.input-group-button.glyphicon.glyphicon-search

  .row
    .col-md-6.text-center
      h4 Latest uploaded videos &nbsp;
        span.label.label-success New
      dl.dl-horizontal
        for last in latests
          dt
            a(href='#{showUrl(last._id)}') #{last.name}
          dd
            a(href='#{episodeUrl(last.video)}') Season #{last.season} Episode #{last.episode}


    .col-md-6.text-center
      h4 Upload
      a(data-toggle='modal', href='#newEpisodeDialog', class='btn btn-primary btn-lg') I have a new episode


  //- include the upload dialog
  include dialog.jade

  block post-script
    script(type='text/javascript').
      $(function () { console.log($("input,select,textarea").not("[type=submit]")); $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );

