extends ../layout

block content

  .row
    .col-md-10.col-md-offset-1
      .jumbotron.text-center(style='padding: 15px;')
        h3 Search into captions
          p
            form(action='/subtitles/search')
              input.form-control(type='search', name='q', size='30', autocomplete='off', required)
              p
                button.btn.btn-default(type='submit') Search &nbsp;
                  span.input-group-button.glyphicon.glyphicon-search

  .row
    .col-md-6.text-center
      h4 Latest uploaded videos &nbsp;
        span.label.label-success New
      dl.dl-horizontal
        for last in latests
          dt
            a(href='#{showUrl(last._id)}') #{last.name}
          dd
            a(href='#{episodeUrl(last.video)}') Season #{last.season} Episode #{last.episode}


    .col-md-6.text-center
      h4 Upload
      a(data-toggle='modal', href='#newEpisodeDialog', class='btn btn-primary btn-lg') I have a new video


  //- include the upload dialog
  include dialog.jade