extends ../layout

block content

  .row
    .jumbotron.text-center
      h3 Search for any quote
      form(action='/subtitles/search')
        input.form-control(type='search', name='q', required)
        button.btn.btn-default(type='submit') Search &nbsp;
          span.input-group-button.glyphicon.glyphicon-search

  .row
    .col-md-6.text-center
      h4 Latest uploaded videos
      dl.dl-horizontal
        for last in latests
          dt
            a(href='#{showUrl(last._id)}') #{last.name}
          dd
            a(href='#{episodeUrl(last.video)}', target='_blank') Season #{last.season} Episode #{last.episode} &nbsp;
            span.label.label-success New

    .col-md-6.text-center
      h4 New upload
      a(data-toggle='modal', href='#newEpisodeDialog', class='btn btn-primary btn-lg') I have a new episode


  //- include the upload dialog
  include dialog.jade
